

#unauth,
#whitelist {
  max-width: 800px;
  margin: 0 auto;
}

#unauth .alert {
  margin: 0;
}

#input-subtitles {
  position: relative;
  top: -1px;
}

.transcript-editor {
  border: 1px solid #ddd;
  padding: 15px;
  cursor: text;
}

.transcript-editor-block {
  display: flex;
  margin-bottom: 10px;
}

.transcript-editor-block__speaker {
  width: 100px;
}

.transcript-editor-block__text {
  flex: 1;
  line-height: 1.7;
}

.transcript-editor-block__word {
  background-color: #d4eaff;
  border: 1px solid #ddd;
  padding: 0 2px;
}

.transcript-editor-block__word.unused {
  opacity: 0.5;
  background-color: #eee;
}

.transcript-editor-block__word.played:not(.unused) {
  background-color: #aad4ff;
}

.transcript-editor-block__word::-moz-selection{
  background-color: #b63838;
}
.transcript-editor-block__word::selection{
  background-color: #b63838;
}

#transcript .transcript-editor-block__space,
#transcript .transcript-editor-block__space *{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#transcript.loading transcript,
#transcript:not(.loading) .loading{
  display: none;
}

#transcript .loading,
#transcript .new  {
  text-align: center;
  color: #999;
  padding: 50px 0;
}

#transcript .new button{
  margin-top: 10px;
}

#transcript .page-header .tip{
  line-height: 18px;
}


#row-theme:not(.advanced) #group-theme-advanced {
  display: none;
}

#row-theme.advanced #group-theme-advanced {
  width: 20%;
  float: right;
}
#row-theme.advanced #group-theme {
  width: 80%;
}
#row-theme #group-theme-advanced i.fa {
    margin: 0;
}

#row-wave:not(.advanced) #row-wave-sliders,
#row-wave.advanced #group-wave-advanced{
  display: none;
}
#row-wave #group-wave-advanced i.fa {
    margin: 0;
}

#row-wave:not(.advanced) #group-pattern{
  width: 50%
}

#row-wave-sliders .tip {
  line-height: 30px;
}

#row-wave-sliders hr {
    margin: 7px 0 3px 0;
}

div.wrapper {
  width: 100%;
  max-width: 1500px;
  padding: 20px;
  margin-bottom: 60px;
  margin: 1rem auto 0 auto;
}

h1 {
  font-weight: 500;
  margin-top: 2rem;
  font-size: 48px;
}

.red {
  color: #c00;
}

.intGEL .well {
  margin: 10px 0;
}
.intGEL .nav-tabs > li > a{
  font-size: 12px;
  text-transform: uppercase;
}
.intGEL .intGEL-arrow {
  width: 100%;
}
.intGEL hr {
  margin: 10px 0;
}
.intGEL .row {
  margin: 0 -15px;
}
.intGEL input[type='text'].form-control {
  width: 100%;
}
label.settings {
    line-height: 33px;
    text-transform: uppercase;
    font-size: 12px;
}

input[type='color']{
  height: 33px;
  width: 100%;
  padding: 0;
  text-align: center;
}


.btn-group {
  width: 100%;
}
.btn.right {
  float: right !important;
}

#vcs-results {
  border-top: 1px solid #eeeeee;
  margin-top: 10px;
  padding-top: 5px;
}

.form-check-label {
  text-indent: -20px;
  margin-left: 20px;
}

#splash h1{
  line-height: 50px;
  text-align: center;
}
#splash h1 svg{
  margin-left: 20px;
}

/* Buttons/controls */
button,
.button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
  background-color: #fff;
  margin: 3px;
  outline: 0;
  font-size: 16px;
}

#download {
  /*padding: 9px 12px 6px 12px;*/
  /*color: #fff;*/
  /*background-color: #5bc0de;*/
  /*border-color: #46b8da;*/
}

#download:hover {
  background-color: #31b0d5;
  border-color: #269abc;
}

button:hover,
input[type='submit']:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

button:active,
#download:active,
input[type='submit']:active {
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.tip {
  color: #555;
  font-size: 13px;
  line-height: 15px;
  text-align: left;
}

.tip a {
  text-decoration: underline;
}

#duration {
  font-size: 13px;
  line-height: 13px;
  margin-bottom: 5px;
}

#duration .red{
  background: #c00;
  color: white;
  padding: 0 4px;
}

#duration .red:before {
   font-family: FontAwesome;
   content: "\f071";
   padding-right: 3px;
}

#shortcuts {
  text-align: left;
}

#shortcuts .col {
  width: 50%;
  float: left;
}

#shortcuts .col div {
  margin: 3px 0;
}

.note {
  color: #999;
  font-size: 12px;
}

#play {
  width: 66px;
}

#controls {
  text-align: right;
}

#controls #timecodes {
  position: relative;
  text-align: left;
  margin: 10px 0;
}

#controls #timecodes input{
  width: 75px;
  font-size: 13px;
  text-align: center;
}

#start {
  position: relative;
  left: 0;
}
#end {
  position: absolute;
  left: 565px;
}

#controls i.fa {
  margin-right: 4px;
}

i.fa {
  margin-right: 6px;
}

i.fa-play {
    position: relative;
    bottom: 1px;
}

#controls button {
  padding: 3px 6px;
  font-size: 13px;
}

#error,
#vcs-results.error {
  color: #c00;
}

#error {
  font-weight: 600;
}

#row-submit{
  margin-top: 10px;
}

.row.error input,
.row.error label {
  color: #c00;
}

/* Form */
.row {
  margin: 1rem 0;
}

label {
  display: block;
  margin-bottom: 0.25rem;
  font-weight: 500;
}

select {
  margin-top: 6px;
  padding: 6px;
}

input[type='text'] {
  width: 100%;
  padding: 6px;
  color: #666;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 0 0;
}

/* Preview canvas */
#canvas {
  position: relative;
}

#preview-label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  text-transform: uppercase;
  opacity: 0.2;
  font-size: 28px;
}

#canvas,
#video {
  margin-left: auto;
  margin-right: auto;
}

/* Minimap */

g.background path {
  fill: #999;
}

g.background line {
  stroke: #999;
}

g.foreground path {
  fill: #de1e3d;
}

g.foreground line {
  stroke: #de1e3d;
}

g.brush .extent {
  fill: none;
  stroke: none;
}

g.brush line {
  stroke-width: 3px;
  stroke: #de1e3d;
}

g.time {
  pointer-events: none;
}

g.time line {
  stroke-width: 1px;
  stroke: #0eb8ba;
}

/* UI states */
#audio {
  display: none;
}

#generated {
  width: 664px;
  margin: auto;
}

#loading,
#error,
#generated,
.loading #loaded,
.rendered #loaded {
  display: none;
}

.loading #loading,
.error #error,
.rendered #generated {
  display: block;
}

/*.rendered #download,
.rendered #return {
  display: inline-block;
}*/

/* Loading styles */
#loading-message {
  font-size: 24px;
  text-align: center;
  color: #de1e3d;
}

#loading-bars {
  margin: 60px auto 40px auto;
  width: 200px;
  height: 120px;
  text-align: center;
  font-size: 10px;
}

#loading-bars > div {
  background-color: #de1e3d;
  height: 100%;
  width: 16px;
  margin-right: 3px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

#loading-bars .r2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

#loading-bars .r3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

#loading-bars .r4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

#loading-bars .r5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
  margin-right: 0;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
